.App {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background-image: url('/images/daoudi-aissa-Pe1Ol9oLc4o-unsplash.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.card {
    width: 100%;
    max-width: 400px;
    background-color: rgba(206, 219, 241, 0.644);
    padding: 20px;
    padding-top: 30px;
    border-radius: 10px;
    /* display: grid; */
    grid-template-columns: repeat(2, 1fr);
    height: 600px;
    overflow: hidden;
}

.card__icon-container {
    grid-column: span 2;
    height: 200px;
}

.text--decoration {
    color: #0004f8;
}

.card__icon {
    margin: 0 auto;
    width: 280px;
    position: relative;
    top: -65px;
}

.card__header,
.card__footer,
.card__temp {
    grid-column: span 2;
}

.card__tittle {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 700;
}

.card__subtittle {
    text-align: center;
    font-size: 1.6rem;
    font-weight: 400;
}

.card__temp {
    text-align: center;
    font-size: 2.5rem;
}

.card__info {
    padding-top: 20px;
    color: white;
    position: relative;
    background-color: #0004f8;
    top: 147px;
    width: 403px;
    height: 200px;
    border-radius: 5%;
    left: -21px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: top 1s;
    animation-name: mango;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes mango {
0%{background-color:#0004f8 ;}
50%{background-color: #0004f8ab;}
100%{background-color: #0004f8;
}
}
.card__info>* {
    position: relative;
    top: -30px;
}

.card__description {
    margin-bottom: 10px;
    font-size: 1.5rem;
    font-weight: 500;
}

.card__list {
    display: grid;
    gap: 8px;
}

.card__item {
    font-size: 1rem;
    font-weight: 400;
}

.card__btn {
    padding: 0.5rem 1rem;
    border-radius: 8px;
    font-size: 1.1rem;
    cursor: pointer;
    box-shadow: 1px 1px 10px rgb(255 255 255);
    transition: transfom 100ms ease;
    position: static;
    background-color: #0105e2;
    height: 46px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 0 auto;
    top: 20px;
    z-index: 10;
}

.card__info:hover{
    top: 40px;
}

.card__btn:active {
    transform: scale(1.1);
    box-shadow: none;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.555);
}

/*----- LOADER -----*/
.loader {
    --path: #2f3545;
    --dot: #5628ee;
    --duration: 3s;
    width: 54px;
    height: 54px;
    position: relative;
}

.loader:before {
    content: '';
    width: 6px;
    height: 6px;
    border-radius: 50%;
    position: absolute;
    display: block;
    background: var(--dot);
    top: 37px;
    left: 19px;
    transform: translate(-18px, -18px);
    animation: dotRect var(--duration) cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
}

.loader svg {
    display: block;
    width: 100%;
    height: 100%;
}

.loader svg rect,
.loader svg polygon,
.loader svg circle {
    fill: none;
    stroke: var(--path);
    stroke-width: 10px;
    stroke-linejoin: round;
    stroke-linecap: round;
}

.loader svg polygon {
    stroke-dasharray: 145 76 145 76;
    stroke-dashoffset: 0;
    animation: pathTriangle var(--duration) cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
}

.loader svg rect {
    stroke-dasharray: 192 64 192 64;
    stroke-dashoffset: 0;
    animation: pathRect 3s cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
}

.loader svg circle {
    stroke-dasharray: 150 50 150 50;
    stroke-dashoffset: 75;
    animation: pathCircle var(--duration) cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
}

.loader.triangle {
    width: 48px;
}

.loader.triangle:before {
    left: 21px;
    transform: translate(-10px, -18px);
    animation: dotTriangle var(--duration) cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
}

@keyframes pathTriangle {
    33% {
        stroke-dashoffset: 74;
    }

    66% {
        stroke-dashoffset: 147;
    }

    100% {
        stroke-dashoffset: 221;
    }
}

@keyframes dotTriangle {
    33% {
        transform: translate(0, 0);
    }

    66% {
        transform: translate(10px, -18px);
    }

    100% {
        transform: translate(-10px, -18px);
    }
}

@keyframes pathRect {
    25% {
        stroke-dashoffset: 64;
    }

    50% {
        stroke-dashoffset: 128;
    }

    75% {
        stroke-dashoffset: 192;
    }

    100% {
        stroke-dashoffset: 256;
    }
}

@keyframes dotRect {
    25% {
        transform: translate(0, 0);
    }

    50% {
        transform: translate(18px, -18px);
    }

    75% {
        transform: translate(0, -36px);
    }

    100% {
        transform: translate(-18px, -18px);
    }
}

@keyframes pathCircle {
    25% {
        stroke-dashoffset: 125;
    }

    50% {
        stroke-dashoffset: 175;
    }

    75% {
        stroke-dashoffset: 225;
    }

    100% {
        stroke-dashoffset: 275;
    }
}

.loader {
    display: inline-block;
    margin: 0 16px;
}