@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400;1,500&family=Rubik:wght@300;400;600;700&display=swap');

/* ----     RESET   ------*/

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Oswald', sans-serif;
    ;
}

h1,
h2,
h3,
p,
ul {
    margin-top: 0;
    margin-bottom: 0;
}

ul {
    padding-left: 0;
    list-style: none;
}

img {
    width: 100%;
    display: block;
}

button {
    border: 0;
}